/* stylelint-disable selector-list-comma-newline-after */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em
		rgba(0, 0, 0, .15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif
		/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
	font-size: 2.25rem;
}

.blog-header-logo:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif
		
}

.display-4 {
	font-size: 2.5rem;
}


.flex-auto {
	flex: 0 0 auto;
}

.h-250 {
	height: 250px;
}

.offcanvas-start {/* 弹出边栏背景 */
	background-color: #F9EBC8;
}

.collapse {/* 弹出边栏文章菜单背景 */
	background-color: #F9EBC8;
}

.collapsed {/* 弹出边栏标题背景 */
	background-color: #DAE5D0;
}

/* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
	margin-bottom: 4rem;
}

.blog-post-title {
	font-size: 2.5rem;
}

.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #727272;
}

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #727272;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}










/* navbars */
.btn-light { /* 导航栏按钮 */
	background-color: #DAE5D0;
	border: none;
}
.funcbtn {/* 导航栏左右端功能按钮 */
	border-radius: 50px;
	color: #3A6351;
	border: none;
}

.nav-item{
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	cursor: pointer;
}


.nav-pills {/* 正在使用的导航栏按钮 */
  --bs-nav-pills-border-radius: 10px;
  --bs-nav-pills-link-active-color: #525E75;
  --bs-nav-pills-link-active-bg: #DAE5D0;
  border: none;
}
.tab {/* 没被用的导航栏按钮 */
color: #525E75;
border: none;
}


/* sidebar */

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	position: relative;
  }
  
  html {
	height: -webkit-fill-available;
  }
  
  main {
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
	padding: .25rem .5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, .65);
	background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
	color: rgba(0, 0, 0, .85);
	background-color: #FEFBE7;
  }
  
  .btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform .35s ease;
	transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
	color: rgba(0, 0, 0, .85);
	background-color: #FEFBE7;
  }
  .btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
	background-color: #FEFBE7;
  }
  
  .btn-toggle-nav a {
	padding: .1875rem .5rem;
	margin-top: .125rem;
	margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
	background-color: #FEFBE7;
  }
  
  .scrollarea {
	overflow-y: auto;
  }

  .link-dark {
	color: #212529 !important;

  }
  .link-dark:hover, .link-dark:focus {
	color: #1a1e21 !important;
  }